table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.contet-result > div {
    display: inline-block;
}

.header > div {
    display: inline-block;
}

.input-let {
    width: 40%;
    float: left;
}

.input-right {
    width: 40%;
    float: right;
}


.table-left {
    width: 40%;
    float: left;
}

.table-right {
    width: 40%;
    float: left;
}

.buttons-middle > button {
    display: block;
}

.buttons-middle {
    float: left;
}
